<%- include('../partials/header')-%>

<title><%= title %></title>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Hello, welcome to Lei Han website building company</p>
<p>Everything you need to get your business online</p>
<%- include('../partials/footer')-%>
