<!-- File name: home.ejs
     Author's name: Lei Han
     website name: https://lei-company-portfolio-site.herokuapp.com/home
     description: this is home page, some welcome message-->

<!--add header here-->
<%- include('../partials/header')-%>
<title><%= title %></title>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Hello, welcome to Lei Han website building company</p>
<p>Everything you need to get your business online</p>

<!--add footer here-->
<%- include('../partials/footer')-%>
