<!-- File name: index.ejs
     Author's name: Lei Han
     website name: https://lei-company-portfolio-site.herokuapp.com
     description: this is index page, kind of home page-->
<!DOCTYPE html>
<html>
<!--add header here-->
<%- include('../partials/header') -%>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
<!--add footer here-->
<%- include('../partials/footer')-%>
</html>

